* {
	width: 75%;
	height: 75%;
}


/*********** OVERALL PAGE ************/



body {
    background: rgba(230, 145, 189, 0.55);
    width: 1440px;
    height: 900px;
    margin: 0 auto;
    }

#content{
	color: #FFFFFF;
}


/*********** NAVIGATION ITEMS ************/


#nav {
	position: absolute;
	width: 100%;
	height: 128px;
	background: #FFFFFF;
	
	left: 0px;
	top: 0px;
}

#about{
	position: absolute;
	width: 70px;
	height: 37px;
	left: 178px;
	top: 60px;

	font-family: Didact Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 37px;
	color: #B9B6B6;
	text-decoration: none;
}

#contact{
	position: absolute;
	width: 88px;
	height: 37px;
	left: 336px;
	top: 60px;

	font-family: Didact Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 37px;
	color: #B9B6B6;
	text-decoration: none;
}

#order-online{
	position: absolute;
	width: 144px;
	height: 37px;
	left: 515px;
	top: 60px;

	font-family: Didact Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 37px;
	color: #B9B6B6;
	text-decoration: none;
}

#track-order{
	position: absolute;
	width: 129px;
	height: 37px;
	left: 750px;
	top: 60px;

	font-family: Didact Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 37px;
	color: #B9B6B6;
	text-decoration: none;
}

#logo{

position: absolute;
z-index: 9999;
width: 60px;
height: 122px;
left: 52px;
top: 11px;

}

#checkout-icon{
	position: absolute;
	width: 77.5px;
	height: 56.5px;
	left: 1282px;
	top: 51px;

}


/*********** SELECTED NAV ITEMS ************/

#order-online-selected{
	position: absolute;
	width: 144px;
	height: 37px;
	left: 515px;
	top: 60px;

	font-family: Didact Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 37px;
	color: rgba(230, 145, 189, 0.75);
	text-decoration: underline;
}



/*********** TEXT ************/

h1 {
	position: absolute;
	width: 739px;
	height: 355px;
	left: 178px;
	top: 220px;

	font-family: Delius Swash Caps;
	font-style: normal;
	font-weight: normal;
	font-size: 96px;
	line-height: 90px;
}

p {
	position: absolute;
	width: 498px;
	height: 319px;
	left: 178px;
	top: 482px;

	font-family: Didact Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 32px;
}

h2{
	position: absolute;
	width: 121px;
	height: 36px;
	top: 438px;

	font-family: Delius Swash Caps;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 36px;

}

.bottom-h2{
	position: absolute;
	width: 260px;
	height: 36px;
	top: 782px;

	font-family: Delius Swash Caps;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 36px;
}

/*********** IMAGES ************/


#home-page-image{

	position: absolute;
	width: 100%;
	z-index: 10;
	width: 473px;
	left: 967px;
	top: 128px;

}

#home-page-image-cage{
	position: absolute;
	width: 473px;
	height: 767px;
	left: 967px;
	top: 128px;

	background: url(images/calum-lewis-rkT_TG5NKF8-unsplash_1.png);
	border-left-style: solid;
	border-width: 8px;


}

.original-roll-pic{

	position: absolute;
	width: 235px;
	height: 226px;
	top: 210px;
	
	background: url(images/Individual-Roll-Image_original.png);

}

.original-roll-pic-bottom-row{

	position: absolute;
	width: 235px;
	height: 226px;
	top: 553px;
	
	background: url(images/Individual-Roll-Image_original.png);

}

/*********** OVERALL PAGE BORDER - RIGHT AND BOTTOM ************/


#footer {
	position: absolute;
	width: 100%;
	height: 128px;
	background: #FFFFFF;
	
	left: 0px;
	top: 894px;
}

#right-border{
	position: absolute;
	width: 128%;
	height: 1440px;
	background: #FFFFFF;
	
	left: 1440px;
	top: 128px;
}

